.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

# Local Netlify folder
.netlify

# Written by `netlify dev` booting the Deno edge runtime; no edge functions to pin yet
deno.lock
