header {
  border-radius: 8px;

  h1 {
    margin: 0.5em 0;
  }
}

aside .ant-layout-sider-zero-width-trigger {
  --ant-layout-sider-bg: #001529;
  top: 0 !important;
}

main {
  padding: 16px;

  h2 {
    margin-top: 0;
  }
}
